Pandas is one of the world most popular and widely used python library for analytics and data science. It is an important tool for exploratary data analysis, data transformation , data cleansing and visualization. Before any modeling, advanced analytics or complex visulaisations, getting a good understanding of your data is crucial and pandas is the best tool in python to do this. Whether in manufacturing, health, finance or education sector, knowledge of python pandas can be useful and can be a the backbone of any data project.

Pandas is built on top of Numpy and Matplotlib to provide you with one convinient environment for most of the data analysis and visualation that you will need.

In [ ]:
# Table of contents
1. [Introduction](#introduction)
    Installing pandas
2. [Data ingestion and inspection](#Importing data and viewing content)
2. [Importing data and viewing contents](#Importing data and viewing contents)
3. Comparing groups 
4. Examining relationships
5. Handling missing values
6. Using string methods
7. Combining dates and times
8. Plotting a time series
9. Creating useful plots 
10. Fixing bad data

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
import numpy as np

In [41]:
# To get the current working directory, always helpful to know where your files are saved
import os
cwd = os.getcwd()
cwd

'C:\\Users\\renyinna\\Documents\\Notebook files'

In [31]:
#loads iris dataset in the SKlearn library
iris = datasets.load_iris()  # load and returns the iris dataset

In [ ]:
#loading csv data 
iris = pd.read_csv()

In [32]:
# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [39]:
#writing to local csv file
data1.to_csv("iris.csv", sep=',', encoding='utf-8', index=False)

In [42]:
#loading csv data 
iris = pd.read_csv("iris.csv")

In [43]:
# view the first 5 entries of dataframe
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [44]:
# view the last 5 entries of dataframe
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0